<li id="<%= micropost.id %>">
	
	
	<%= link_to gravatar_for(micropost.user), micropost.user %>
	<span class="user">
		<%= link_to micropost.user.name, micropost.user %>
	</span> - 

	<%-# Below is timestamp, below that is content to be posted above is user name -%>

	<span class="timestamp">
		 <%= time_ago_in_words(micropost.created_at) %> ago.
	</span>

	<br>

	<a href="<%= micropost.content %>">Link to Source</a>
	<span class="content">
		<img src="<%= micropost.content %>"; max-height="250px"; max-width="500px";/>
	</span>
	<span class="tags">
		Tags: <%= raw micropost.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %>
	</span><br />
	
	<% if current_user?(micropost.user) %>
		<%= link_to "delete", micropost, method: :delete, data: { confirm: "Are you sure?" }, title: micropost.content %>
	<% end %>

</li>